<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Productos</title>
			<link href="../static/css/estilos_productos.css" rel="stylesheet">
		</head>
		<body>
			<div id="contenedor-productos">
   				<header>
        			<h1> Tienda para mascotas "Los Reyes del Hogar" </h1>
        			<p>En los últimos años muchas personas han optado por acoger un animal en la familia. Es evidente que existe una tendencia hacia este tipo de elección. Cada vez son más las familias que deciden albergar a un animal en sus hogares. Pero, ¿esto no es más que un capricho? ¿Aporta algún tipo de beneficio tener un animal de compañía en casa? A pesar de todas las ventajas que pueda suponer el tener una mascota en el espacio familiar se deben valorar los riesgos y conocerlos para poder prevenirlos adecuadamente.</p>
        		
    			</header>
    			<main>
        			<div>
        				<section>
         					<h2>Ofertas</h2>
        					<article>
        						<h3>BOLSO TRANSPORTADOR LISO MB</h3>
        						<img src="../static/images/bolso1.jpg" alt="bolso1" width="300" height="300">
        						<img src="../static/images/bolso2.jpg" alt="bolso2" width="300" height="300">
            					<p>Este bolso transportador de mascotas está realizado con materiales resistentes y fáciles de limpiar.</p>
								<p>Posee una red plástica en los extremos que permite una correcta circulación del aire y luz, además de permitir al animal ver hacia el exterior del bolso.</p> 
								<p>El animal se puede ingresar o retirar desde la parte superior o desde una puerta frontal.</p>
 							</article>
 							<nav>
 								<a>Medidas:</a> 
 					 			<a>Largo: 50 cms</a>
								<a>Ancho: 25 cms</a>
								<a>Alto: 38 cms</a>
 							</nav>
							<article>
            					<h3>Corral Hexagonal</h3>
            					<img src="../static/images/corral.jpg" alt="corral" width="300" height="300">
        						<p>Corral metálico desarmable de metal.</p>
								<p>Corral diseñado en metal de acero, desarmable con el tamaño de 60x60 cada seccion, almodable al espacio a cubrir.</p>
        					</article>      			
            				<article>
            					<h3>Bolso Portacan</h3>
            					<img src="../static/images/can.jpg" alt="pcan" width="400" height="400">
        						<p>Habitaculo de facil sujecion a asientos de vehiculos para transporte con mascotas, incluye mosqueton para mascota.</p>
								<p>Este bolso transportador de mascotas está realizado con materiales resistentes y fáciles de limpiar.</p>
								<p>Posee una red plástica en los extremos que permite una correcta circulación del aire y luz, además de permitir al animal ver hacia el exterior del bolso.</p> 
								<p>El animal se puede ingresar o retirar desde la parte superior o desde una puerta frontal.</p>
        					</article>
        				</section>
        			</div>
				</main>
				<footer>
					
        				<h3>Consulte nuestros catalogos online</h3>
        				<p><a href="Index.html" title="Haga click para volver a la página de inicio">Volver al inicio</a></p>
    				
    			</footer>
    		</div>
		</body>
	</html>
	

